<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SunNet.PMNew.WinLogin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="defaultPage" value="https://pm.sunnet.us/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="PMLoginSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PMLoginSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pm.sunnet.us/Api/PMLogin.asmx" binding="basicHttpBinding"
        bindingConfiguration="PMLoginSoap" contract="PMLogin1.PMLoginSoap"
        name="PMLoginSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SunNet.PMNew.WinLogin.Properties.Settings>
      <setting name="CheckUpdateDate" serializeAs="String">
        <value>2014-01-01</value>
      </setting>
      <setting name="ISCheckUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocalVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ErrorFormat" serializeAs="String">
        <value>Sorry to tell you the application get an error, we'll appreciate if you send the error informations to us, our email: project@sunnet.us. The error messages:
{0}
-----------Sunnet(www.sunnet.us) </value>
      </setting>
      <setting name="ShowScriptErrors" serializeAs="String">
        <value>False</value>
      </setting>
    </SunNet.PMNew.WinLogin.Properties.Settings>
  </userSettings>
</configuration>