<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SF.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
   
  <applicationSettings>
    <SF.Framework.Properties.Settings>
      <setting name="SF_Framework_com_srfax_www_SRFaxWebServices" serializeAs="String">
        <value>https://www.srfax.com/SRF_UserFaxWebSrv_doc.php</value>
      </setting>
    </SF.Framework.Properties.Settings>
  </applicationSettings>
</configuration>