<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="SunnetUpload" allowLocation="true" type="Sunnet.Upload.ConfigSectionHandler, Sunnet.Upload"/>
  </configSections>
  <!--
  logType:
  AppStateLogger
  logPath:
  D:/
  -->
  <SunnetUpload useHttpModule="false" maxRequestLength="4097151" uploadPath="~/Upload/"
                illegalExtensions=",.php,.php3,.php5,.phtml,.asp,.aspx,.ascx,.jsp,.cfm,.cfc,.pl,.bat,.exe,.dll,.reg,.cgi"
                allowedExtensions=""
                maxNormalRequestLength="4096" xmlns="http://www.sunnet.us/config/2014"/>

  <location path="Service/FileUploader.ashx">
    <SunnetUpload useHttpModule="true" xmlns="http://www.sunnet.us/config/2014"/>
  </location>

  <dataConfiguration defaultDatabase="PM2012"/>
  <appSettings>
    <!-- email发送配置 begin-->
    <add key="FromEmailAddress" value="xujingfei123@163.com" />
    <add key="SenderEmail" value="xujingfei123@163.com" />
    <add key="EnableSSL" value="1"/>
    <!-- email发送配置 end -->
    <!--Enable Log -->
    <add key="DomainHost" value="http://www.pm.cc/"/>
    <add key="LogEnabled" value="1"/>
    <add key="LogFileSize" value="1024"/>
    <add key="HrEmail" value="joex@sunnet.us"/>
    <add key="FolderPath" value="~/Upload/"/>
    <add key="LogFileName" value="c:\pm\log.txt"/>
    <add key="TimeSheetDays" value="3"/>
    <add key="DefaultSendEmail" value="xujingfei123@163.com"/>
    <add key="DefaultSurveyEmail" value="susany@sunnet.us"/>
    <!--<add key="SubmittedEmailAddrs" value="jackz@sunnet.us;"/>
    <add key="NoSubmittedEmailAddrs" value="jackz@sunnet.us;"/>-->
    <add key="SubmittedEmailAddrs" value="joex@sunnet.us;"/>
    <add key="NoSubmittedEmailAddrs" value="joex@sunnet.us;"/>
    <add key="ChangeStatusAndSendEmailTo" value="joex@sunnet.us"/>
    <add key="CollectedTicketsDirectory" value="2"/>
    <!--是否是测试模式-->
    <add key="IsTest" value="1"/>
    <add key="TestMails" value="xiaowuq@sunnet.us;"/>
    <!--公章设置 用户ID begin-->
    <add key="SealOwner" value="4"/>
    <add key="SealApprover" value="3"/>
    <add key="SealFilePath" value="c:\pm\Files\"/>
    <!--对Work Flow有管理员权限的用户 -->
    <add key="WorkflowAdmin" value="26"/>
    <!--公章设置 end-->
    <!--写邮件发送日志-->
    <add key="EmailLog" value="c:\pm\emaillog.txt"/>
    <add key="ComplainNotifyList" value="david@sunnet.us;Willard@sunnet.us"/>
    <!--project remainhours notification-->
    <add key="emailGroup" value="Team@sunnet.us"/>
    <add key="checkRemainHoursIntervalHours" value="0.01"/>
    <!--Timesheet notice service password.-->
    <add key="TimesheetNoticeSvrPw" value="sunneT2013"/>
    <!--send week plan notice dayofWeek-->
    <add key="weekplanNoticeDay" value="Thursday"/>
    <add key="MaxRequestLength" value="1024000000"/>
    <add key="NearForumsDataBase" value="PMForums"/>
    <!--sunnet company's comId-->
    <add key="SunnetCompany" value="1"/>

    <!-- 发送Timesheet邮件的时间点（HH），服务器定时任务设置为改时间点之后的一小时内，比如1:30 -->
    <add key="TimesheetNoticeTime" value="15"/>

    <!--项目为HR的ID，用于添加Events时判断是否显示Off选项 -->
    <add key="HRProjectID" value="3"/>
    <add key="HRTicketID" value="1612"/>
    
    <add key="TimesheetReport" value="144,6,7,17,26,113,149,1155,1156,1"/>
    <!--一周的Hours不能超过40小时的用户ID-->
    <add key="TimesheetHoursUserID" value="1,18"/>
    <add key="PtoAdmin" value="TestPM@sunnet.us;"/>
    
    <!--pto 查看权限ID（全部和自己）-->
    <add key="PTOVIEWALL" value="2183"/>
    <add key="PTOVIEWSELF" value="2184"/>
  </appSettings>
  <connectionStrings>
    <add name="PM2012" connectionString="server=192.168.1.7\sql2012;database=PM_new;uid=sa;pwd=sunneT2009;max pool size =1024000"
      providerName="System.Data.SqlClient" />
    <add name="FamilyBook" connectionString="server=testing;database=FamilyBook;uid=spUser;pwd=spOnly;max pool size =1024000"
      providerName="System.Data.SqlClient" />
    <add name="a" connectionString="server=192.168.1.1.:80;database=a;uid=a;pwd=a;max pool size =1024000"
      providerName="System.Data.SqlClient" />
    <add name="PMConnectionString" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
    <add name="PMConnectionString2" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
    <add name="CategoriesString" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
    <add name="KPICategoriesConnection" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
    <add name="KPIObjectivesSource" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
    <add name="KPIObjView" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
    <add name="KPIUserString" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
    <add name="KPICategory" connectionString="Data Source=.;Initial Catalog=PM;Persist Security Info=True;User ID=sa;Password=rpg56y"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!--<smtp from="service@sninfotechco.com" deliveryMethod="Network">
        <network host="198.61.134.19" port="25" userName="service@sninfotechco.com" password="Rack2013!!" defaultCredentials="false"/>
      </smtp>-->
      <smtp from="xujingfei123@163.com">
        <network host="smtp.163.com" password="xjf456xjf456" userName="xujingfei123@163.com" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <pages  theme="Default" enableEventValidation="false">
      <controls>
        <add tagPrefix="webdiyer" assembly="AspNetPager" namespace="Wuqi.Webdiyer"/>
        <add assembly="SunNet.PMNew.Framework" namespace="SunNet.PMNew.Framework.Controls" tagPrefix="sunnet" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <customErrors mode="Off" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.html"/>
      <error statusCode="403" redirect="NoAccess.html"/>
    </customErrors>

    <!--<httpModules>
      <add name="UploadHttpModule" type="Sunnet.Upload.UploadHttpModule,Sunnet.Upload"/>
    </httpModules>-->
    <!---Sets the expiration time of session, in minutes-->
    <sessionState timeout="30"></sessionState>
  </system.web>
  <location path="." allowOverride="true" inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <add name="UploadHttpModule" type="Sunnet.Upload.UploadHttpModule,Sunnet.Upload"/>
      </modules>
      <staticContent>
        <!--
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />-->
      </staticContent>
    </system.webServer>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OperateDocManagementSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pmnew.cc/document/Api/OperateDocManagement.asmx"
        binding="basicHttpBinding" bindingConfiguration="OperateDocManagementSoap"
        contract="OperateDocManagements.OperateDocManagementSoap" name="OperateDocManagementSoap" />
    </client>
  </system.serviceModel>  
</configuration>
