<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="LogPath" value="C:\pm\eventAlertLog.txt"/>
    <!-- email发送配置 begin-->
    <add key="FromEmailAddress" value="system@sunnet.us"/>
    <add key="EmailDisplayName" value="system@sunnet.us"/>
    <add key="EnableSSL" value="1"/>
    <!-- email发送配置 end -->
    <add key="WebSite" value="http://pm.sunnet.us"/>
    <!--是否是测试模式-->
    <add key="IsTest" value="1"/>
    <add key="TestMails" value="dave@sunnet.us;"/>
    <add key="LogEnabled" value="1"/>
    <add key="LogFileSize" value="1024"/>
    <add key="LogFileName" value="c:\pm\log.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="PM2012" connectionString="server=192.168.1.7\sql2012;database=PM_new;uid=sa;pwd=sunneT2009;max pool size =1024000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="system@sunnet.us">
        <network host="smtp.gmail.com" port="587" userName="system@sunnet.us" password="bSU6iRa#" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
