.loginLogobox{
padding-top:80px;
margin:0 auto;
width:830px;
}
.loginTop{
width:830px;
margin:0 auto;
background-color:#083583;
text-align:right;
height:37px;
}
.loginTop_corner{
float:right;
width:37px;
}
.loginTop_text{
float:right;
margin-right:20px;
margin-top:5px;
font-family:Arial;
font-size:24px;
color:#fff;
}
.loginBox{
width:790px;
margin:0 auto;
padding:30px 20px;
background:url('/images/login_bg.jpg') right bottom no-repeat;
overflow:auto;
}
.loginfooter{
width:830px;
margin:0 auto;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#999999;
text-align:center;
padding-top:10px;
border-top:1px solid #ccc;
}
.input180{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#666;
padding:4px;
border:1px solid #6d6d6d;
width:180px;
}
.forgotpwBox{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333;
width:400px;
margin:0 auto;
padding:20px;
border:1px solid #ccc;
margin-bottom:20px;
}
.forgotpwBox strong{
color:#00215b;
}
.logintitle1{
width:440px;
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
padding:0px 0px 10px 0px;
}
.loginBtn1{
width:102px;
height:28px;
color:#fff;
font-weight:bold;
font-size:14px;
text-transform:uppercase;
background-image:url(/images/login_btnbg.jpg);
font-family:Arial, Helvetica, sans-serif;
border:0px;
}
.loginBtn1:hover{
background-image:url(/images/login_btnbgover.jpg);
}
.loginbtnBox1{
padding-left:168px;
padding-top:20px;
}

