.loginLogobox {
    padding-top: 80px;
    margin: 0 auto;
    width: 830px;
}

.loginTop {
    width: 830px;
    margin: 0 auto;
    background-color: #083583;
    text-align: right;
    height: 37px;
}

.loginTop_corner {
    float: right;
    width: 37px;
}

.loginTop_text {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    font-family: Arial;
    font-size: 24px;
    color: #fff;
}

.loginBox {
    width: 790px;
    margin: 0 auto;
    padding: 30px 20px;
    background: url(/images/login_bg.jpg) right bottom no-repeat;
    overflow: auto1;
}

.loginfooter {
    width: 830px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999999;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.input180 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    padding: 4px;
    border: 1px solid #6d6d6d;
    width: 180px;
}

.forgotpwBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

    .forgotpwBox strong {
        color: #00215b;
    }

.logintitle1 {
    width: 440px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px 0px 10px 0px;
}

.loginBtn1 {
    width: 102px;
    height: 28px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase; /*background-image:url(/images/login_btnbg.jpg);*/
    background: url("/images/login_btnbg1.jpg") no-repeat scroll 0 0 transparent;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

    .loginBtn1:hover {
        /*background-image:url(/images/login_btnbgover.jpg);*/
        background: url("/images/login_btnbg1.jpg") no-repeat scroll -102px 0 transparent;
    }

.loginbtnBox1 {
    padding-left: 168px;
    padding-top: 20px;
}

.inputUser {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    padding: 4px 4px 4px 25px;
    border: 1px solid #6d6d6d;
    width: 190px;
    background: url(/images/ico_username.jpg) center left no-repeat;
}

.inputPw {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    padding: 4px 4px 4px 25px;
    border: 1px solid #6d6d6d;
    width: 190px;
    background: url(/images/ico_password.jpg) center left no-repeat;
}

.loginBoxleft {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #00215b;
}

.loginRemember {
    font-size: 14px;
    color: #999;
}

.loginBoxright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    line-height: 22px;
}

    .loginBoxright strong {
        font-size: 14px;
    }

    .loginBoxright img {
        margin-top: 3px;
    }

.loginNote {
    font-size: 10px;
    color: #999;
}

/*01/03/2013*/
.loginotherLink a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #083583;
    text-decoration: none;
}

    .loginotherLink a:hover {
        color: #f60;
        text-decoration: underline;
    }

.registLogobox {
    margin: 0 auto;
    width: 830px;
    height: 60px;
}

.registBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    width: 660px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.registtitle1 {
    width: 700px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px 0px 10px 0px;
}

.redStar {
    font-size: 12px;
    color: #F00;
}

.noticeText {
    font-size: 11px;
    color: #666;
}

.input260 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    padding: 4px;
    border: 1px solid #6d6d6d;
    width: 322px;
}

.input100 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    padding: 4px;
    border: 1px solid #6d6d6d;
    width: 100px;
}

.textarea460 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    padding: 4px;
    border: 1px solid #6d6d6d;
    width: 100%;
    line-height: 22px;
}

.registsubText {
    font-size: 13px;
    color: #666;
}

.registsubTitle {
    padding-bottom: 5px;
    font-weight: bold;
    color: #083583;
    font-size: 15px;
}

.topleftLogo {
    float: left;
    width: 400px;
    font-size: 12px;
}

.toprightLink {
    float: right;
    width: 100px;
    text-align: right;
    padding: 35px 50px 0 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

    .toprightLink a {
        color: #083583;
        text-decoration: none;
    }

        .toprightLink a:hover {
            color: #f60;
            text-decoration: underline;
        }
/*forgot password*/


.fwDiv {
    border-radius: 5px;
    background-position: top;
    background-repeat: repeat-x;
    margin: 0px auto;
    width: 430px;
    overflow: auto;
    line-height: 20px;
}

.fwDivtop {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    font-size: 15px;
    color: #000;
}

.fwclose {
    width: 16px;
    height: 16px;
    float: right;
    background-image: url(/images/closef.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -15px;
}

    .fwclose:hover {
        background-image: url(/images/closef_hover.png);
        background-position: center;
        background-repeat: no-repeat;
    }

.inputemail {
    border: 1px solid #d1d0d0;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 4px;
    width: 280px;
    margin-top: 3px;
}


.fwText1 {
    font-size: 18px;
    padding: 35px 0px 10px 0px;
}

.fwTitle1 {
    color: #fff;
    font-size: 24px;
    padding-top: 5px;
}

.fwBtn1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #083583;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    padding: 5px 0px;
    color: #fff;
    border: 0px;
    margin-right: 5px;
}

    .fwBtn1:hover {
        background-color: #457dc8;
        cursor: pointer;
    }

.fwBtn2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cbcbcb;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    padding: 5px 0px;
    color: #939393;
    border: 0px;
}

    .fwBtn2:hover {
        background-color: #ddd;
        cursor: pointer;
    }


.fwTextbule {
    color: #083583;
}

.fwText2 {
    font-size: 18px;
}

.fwText3 {
    font-size: 24px;
    color: #083583;
}

.fwText4 {
    font-size: 15px;
    margin-top: 5px;
}

.fwText5 {
    font-size: 18px;
    margin: 15px 0px;
}

.inputpw {
    margin-bottom: 15px;
    width: 200px;
}

/*03/13/2014Ôö¼Ó*/
.fwText1{
font-size:18px;
padding:15px 0px 10px 0px;
}
.fwTitle1{
color:#fff;
font-size:24px;
padding-top:5px;
}
.fwBtn1{
font-family:Arial, Helvetica, sans-serif;
background-color:#083583;
text-align:center;
font-weight:bold;
font-size:14px;
width:100px;
padding:5px 0px;
color:#fff;
border:0px;
margin-right:5px;
}
.fwBtn1:hover{
background-color:#457dc8;
}
.fwBtn2{
font-family:Arial, Helvetica, sans-serif;
background-color:#cbcbcb;
text-align:center;
font-weight:bold;
font-size:14px;
width:100px;
padding:5px 0px;
color:#939393;
border:0px;
}
.fwBtn2:hover{
background-color:#ddd;
}

/*03/11/2014*/
.fwTextbule{
color:#083583;
}
.fwText2{
font-size:18px;
}
.fwText3{
font-size:24px;
color:#083583;
}
.fwText4{
font-size:15px;
margin-top:5px;
}
.fwText5{
font-size:18px;
margin:15px 0px;
}
.inputpw{
margin-bottom:15px;
width:200px;
}

/*3/13/2014*/
.loginBoxn1{
width:800px;
margin:0 auto;
overflow:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
padding:80px 0px 60px 0px;
}
.loginfootern1{
width:800px;
margin:0 auto;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#999999;
text-align:center;
padding-top:10px;
border-top:1px solid #ccc;
}
.loginleftpicBox{
width:412px;
height:407px;
background-image:url(/images/login_picture.png);
}
.loginlefttextBox{
padding-top:200px;
padding-left:60px;
width:280px;
color:#fff;
}
.loginleftText1{
font-size:30px;
}
.loginleftText2{
margin-top:10px;
line-height:20px;
}