<style type="text/css">
    .homefooter {
        background-image: url(/images/home_footerbg.png);
        background-position: center top;
        background-repeat: no-repeat;
        padding: 20px;
        font-size: 12px;
        color: #666;
        text-align: center;
    }

        .homefooter a {
            color: #666;
            text-decoration: none;
        }

            .homefooter a:hover {
                color: #04466a;
                text-decoration: underline;
            }

    .homerfooterText1 {
        color: #77afc2;
        padding-top: 10px;
    }

        .homerfooterText1 a {
            color: #04466a;
            text-decoration: none;
        }

            .homerfooterText1 a:hover {
                color: #666;
                text-decoration: underline;
            }
</style>
<div class="homefooter">
    <a href="/Home/Index">Home</a> | <a href="/Home/AboutUs">About Us</a> | <a href="/Home/ContactUs">Contact Us</a> | <a href="/Home/TermsServices">Terms of Services</a> | <a href="/Home/Privacy">Privacy</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="reportError"><a href="mailto:QA@myfamilybook.us">&raquo; Report
                    System Error</a></span>
    <div class="homerfooterText1">
        Copyright © 2013 All Rights Reserved by myFamilyBook. Designed by <a href="https://www.sunnet.us"
            target="_blank">SunNet Solutions</a>.
    </div>
</div>
