<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <system.net>
    <!--<mailSettings>
      <smtp from="service@sninfotechco.com" deliveryMethod="Network">
        <network host="198.61.134.16" port="25" userName="service@sninfotechco.com" password="sunneT2012" defaultCredentials="false"/>
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp from="system@mydataiq.com">
        <network host="smtp.gmail.com" port="587" userName="system@mydataiq.com" password="SunNet2013" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--Enable Log -->
    <add key="DomainHost" value="http://pmdemo.cc/"/>
    <add key="LogEnabled" value="1"/>
    <add key="LogFileSize" value="1024"/>
    <add key="HrEmail" value="hr@sunnet.us"/>
    <add key="FolderPath" value="~/Upload/"/>
    <add key="LogFileName" value="c:\pm\log.txt"/>
    <add key="TimeSheetDays" value="3"/>
    <add key="DefaultSendEmail" value="service@sninfotechco.com"/>
    <add key="DefaultSurveyEmail" value="jackz@sunnet.us"/>
    <add key="SubmittedEmailAddrs" value="jackz@sunnet.us;mrzzcn@qq.com"/>
    <add key="NoSubmittedEmailAddrs" value="jackz@sunnet.us"/>
    <add key="ChangeStatusAndSendEmailTo" value="hacksl@sunnet.us"/>
    <add key="CollectedTicketsDirectory" value="2"/>
    <!--是否是测试模式-->
    <add key="IsTest" value="1"/>
    <add key="TestMails" value="helenz@sunnet.us"/>
    <!--公章设置 用户ID begin-->
    <add key="SealOwner" value="4"/>
    <add key="SealApprover" value="3"/>
    <add key="SealFilePath" value="c:\pm\Files\"/>
    <!--公章设置 end-->
    <!--写邮件发送日志-->
    <add key="EmailLog" value="c:\pm\emaillog.txt"/>
    <!--project remainhours notification-->
    <add key="emailGroup" value="Team@sunnet.us"/>
    <add key="checkRemainHoursIntervalHours" value="0.01"/>
    <!--Timesheet notice service password.-->
    <add key="TimesheetNoticeSvrPw" value="sunneT2013"/>
    <!--send week plan notice dayofWeek-->
    <add key="weekplanNoticeDay" value="wednesday"/>
    <add key="MaxRequestLength" value="102400"/>
    <add key="NearForumsDataBase" value="PMNearForums"/>
  </appSettings>
  <dataConfiguration defaultDatabase="PM2012"/>
  <connectionStrings>
    <add name="PM2012" connectionString="server=192.168.1.211;database=NewPM2014;uid=sa;pwd=sunneT2009;max pool size =1024000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.html"/>
      <error statusCode="403" redirect="NoAccess.html"/>
    </customErrors>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="webdiyer" assembly="AspNetPager" namespace="Wuqi.Webdiyer"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PMLoginSoap" />
        <binding name="OperateDocManagementSoap" />
        <binding name="OperateDocManagementSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3456/Api/PMLogin.asmx" binding="basicHttpBinding"
        bindingConfiguration="PMLoginSoap" contract="PMLogin.PMLoginSoap"
        name="PMLoginSoap" />
      <endpoint address="http://pm.sunnet.com/document/Api/OperateDocManagement.asmx"
        binding="basicHttpBinding" bindingConfiguration="OperateDocManagementSoap"
        contract="OperateDocManagement.OperateDocManagementSoap" name="OperateDocManagementSoap" />
      <endpoint address="http://pm.sunnet.com/document/Api/OperateDocManagement.asmx"
        binding="basicHttpBinding" bindingConfiguration="OperateDocManagementSoap1"
        contract="OperateDocManagements.OperateDocManagementSoap" name="OperateDocManagementSoap1" />
    </client>
  </system.serviceModel>
</configuration>