<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
    </root>

    <logger name="info.Logging">
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender" />
    <!--<appender-ref ref="SmtpAppender" />-->
    </logger>

    <logger name="exception.Logging">
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </logger>

    <appender name="LogFileAppender"
             type="log4net.Appender.FileAppender"  >
      <param name="File" value="c:\familybook\log-file.txt" />
      <param name="Encoding" value="UTF-8"/>
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]#########################################################################HEAD###########################################################&#13;&#10;&#13;&#10;&#13;&#10;" />
        <param name="Footer" value="[Footer]########################################################################Footer#########################################################&#13;&#10;&#13;&#10;&#13;&#10;" />
        <conversionPattern value="%newline Time: %date %newline IP: %aspnet-request{REMOTE_HOST} %newline Url: %aspnet-request{Server_Name}%aspnet-request{url} %aspnet-request{QUERY_STRING}  %newline urlRefer: %aspnet-request{Http_Referer}%newline %newline   %logger -Message: %newline %message %newline %newline Exception: %exception %newline Stacktrace: %newline%stacktracedetail{20}"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <connectionString value="DATABASE=InfoPub;SERVER=.;UID=sa;PWD=123456;Connect Timeout=15;" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <param name="Encoding" value="UTF-8"/>
      <authentication value="Basic" />
      <to value="Lee@sunnet.us,sams@sunnet.us,justinw@sunnet.us" />
      <from value="system@mydataiq.com" />
      <username value="system@mydataiq.com" />
      <password value="SunNet2013" />
      <smtpHost value="smtp.gmail.com" />
      <port value="587"/>
      <EnableSsl value="true"/>
      <subject value="There is a exception in familybook project." />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ALL"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]#########################################################################HEAD###########################################################&#13;&#10;&#13;&#10;&#13;&#10;" />
        <param name="Footer" value="[Footer]#########################################################################Footer###########################################################&#13;&#10;&#13;&#10;&#13;&#10;" />
        <conversionPattern value="%newline Time: %date %newline IP: %aspnet-request{REMOTE_HOST} %newline Url: %aspnet-request{Server_Name}%aspnet-request{url} %aspnet-request{QUERY_STRING}  %newline urlRefer: %aspnet-request{Http_Referer}%newline %newline   %logger -Message: %newline %message %newline %newline Exception: %exception %newline Stacktrace: %newline%stacktracedetail{20}"/>
      </layout>
    </appender>
  </log4net>
</configuration>