<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <StructureMap MementoStyle="Attribute">
        <DefaultInstance PluginType="FamilyBook.Core.DocManagementModule.IDocManagementDAO, FamilyBook.Core" PluggedType="FamilyBook.Impl.DocManagements.DocManagementDAOSQLDataProvider, FamilyBook.Impl"/>
        <DefaultInstance PluginType="FamilyBook.Core.DocManagementModule.IDirectoryObjectDAO, FamilyBook.Core" PluggedType="FamilyBook.Impl.DocManagements.DirectoryObjectDAOSQLDataProvider, FamilyBook.Impl"/>
        <DefaultInstance PluginType="FamilyBook.Core.DocManagementModule.IDirectoryDAO, FamilyBook.Core" PluggedType="FamilyBook.Impl.DocManagements.DirectoreDAOSQLDataProvider, FamilyBook.Impl"/>
        <DefaultInstance PluginType="FamilyBook.Core.DocManagementModule.IFileDAO, FamilyBook.Core" PluggedType="FamilyBook.Impl.DocManagements.FileDAOSQLDataProvider, FamilyBook.Impl"/>
        
        <DefaultInstance PluginType="FamilyBook.Core.CommentModule.ICommentDAO, FamilyBook.Core" PluggedType="FamilyBook.Impl.Comment.CommentDAOSQLDataProvider, FamilyBook.Impl"/>

    </StructureMap>
</configuration>
