<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Login" value="http://99.162.197.209:8087/CapLineLogin.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PMLoginSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PMLoginSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pm.sunnet.us/Api/PMLogin.asmx" binding="basicHttpBinding"
        bindingConfiguration="PMLoginSoap" contract="PMLogin.PMLoginSoap"
        name="PMLoginSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
