.treecontainer
{
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: url(treebg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
image.action
{
    cursor: pointer;
}
